<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo app</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @font-face { 
    font-family: Delightful; 
    src: url('Delightful400.otf');
     }  
     @font-face { 
    font-family: Triorange; 
    src: url('TriorangeBold700.otf');
     }  
        logo,h2,quote {
         font-family: Delightful;
        }
        h1,h3{
            font-family: Triorange; 
        }
        .quote7{
            top:29.5rem;
            left:34.5rem;
        }
        .quote6{
            top:25.5rem;
            left:30.5rem;
        }
        .quote5{
            top:21.5rem;
            left:25.5rem;
        }
        .quote4{
            top:16.5rem;
            left:25.5rem;
        }
        .quote3{
            top:11.5rem;
            left:26.5rem;
        }
        .quote2{
            top:7.5rem;
            left:28rem;
        }
        .quote1{
            top:3.5rem;
            left:31.5rem;
        }
        
    </style>
</head>

<div class="container mx-10 just mx-auto">
    <div class="flex flex-col container justify-center items-center pt-6 pb-40">
        <h1 class="text-6xl mt-20 text-center">Fastest <span class="text-orange-600">Delivery</span> And Easy<span  class="text-orange-600">Pickup</span></h1>
        <h2 class="text-4xl text-center">Food and Drinks</h2>
            <pic class="relative flex flex-row justify-center items-center">
                
                <img src="/img/foodbowl.png" class="w-1/3 h-1/3" style="margin-top: -6rem;" alt="">
                <quote class="absolute text-3xl quote1">Fresh Veggies</quote>
                <quote class="absolute text-3xl quote2">Less Calories</quote>
                <quote class="absolute text-3xl quote3">colestrol free</quote>       
                <quote class="absolute text-3xl quote4">many categories</quote>       
                <quote class="absolute text-3xl quote5">pre-cancellation</quote>       
                <quote class="absolute text-3xl quote6">free planner</quote>       
                <quote class="absolute text-3xl quote7">auto generator</quote>       
            </pic>
            <div class="flex flex-wrap gap-5">
                <!-- <a href="#" class="flex-end block max-w-sm p-6 bg-white border rounded-lg shadow">
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-grey">Noteworthy technology acquisitions 2021</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                    <div class="flex items-center mt-4">
                        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Second star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Third star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fourth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-300 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fifth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                    </div>
                </a>  -->
                <a href="#" class="flex-end block max-w-sm p-6 bg-white border rounded-lg shadow">                   
                    <figure class="max-w-screen-md">
                        <div class="flex items-center mb-4 text-yellow-300">
                            <svg aria-hidden="true" class="w-5 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-7 text-gray-300 dark:text-gray-500"" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                        </div>
                        <blockquote>
                            <p class=" font-normal text-gray-500 ">"Delight is amazing! As a busy professional, I don't always have time to cook healthy meals, but with Delight, I can order nutritious food and have it delivered straight to my door. The real-time updates on delivery status are incredibly helpful, and I've never had a late delivery. Highly recommend!"</p>
                        </blockquote>
                        <figcaption class="flex items-center mt-6 space-x-3">
                            <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="profile picture">
                            <div class="flex items-center divide-x-2 divide-gray-300 dark:divide-gray-700">
                                <cite class="pr-3 font-medium text-gray-900 dark:text-white">Bonnie Green</cite>
                                <cite class="pl-3 text-sm font-light text-gray-700 dark:text-gray-700">Gordan Ramsay</cite>
                            </div>
                        </figcaption>
                    </figure>

                </a> 
                <a href="#" class="flex-end block max-w-sm p-6 bg-white border rounded-lg shadow">                   
                    <figure class="max-w-screen-md">
                        <div class="flex items-center mb-4 text-yellow-300">
                            <svg aria-hidden="true" class="w-5 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-7 text-gray-300 dark:text-gray-500"" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                        </div>
                        <blockquote>
                            <p class=" font-normal text-gray-500 ">"I've tried a lot of food delivery services, but Delight is by far the best. The food is always fresh and delicious, and I appreciate the variety of healthy options available. The real-time tracking feature is a game-changer, and I love being able to see exactly where my food is during delivery."</p>
                        </blockquote>
                        <figcaption class="flex items-center mt-6 space-x-3">
                            <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="profile picture">
                            <div class="flex items-center divide-x-2 divide-gray-300 dark:divide-gray-700">
                                <cite class="pr-3 font-medium text-gray-900 dark:text-white"> Danny stone</cite>
                                <cite class="pl-3 text-sm font-light text-gray-700 dark:text-gray-700">Danny stone</cite>
                            </div>
                        </figcaption>
                    </figure>

                </a> 
                
                <a href="#" class="flex-end block max-w-sm p-6 bg-white border rounded-lg shadow">                   
                    <figure class="max-w-screen-md">
                        <div class="flex items-center mb-4 text-yellow-300">
                            <svg aria-hidden="true" class="w-5 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                            <svg aria-hidden="true" class="w-5 h-7 text-gray-300 dark:text-gray-500"" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                        </div>
                        <blockquote>
                            <p class=" font-normal text-gray-500 ">"'m so impressed with Delight's service. As someone who is very health-conscious, I appreciate the focus on delivering nutritious meals. The real-time updates on my delivery status have been incredibly helpful, and I've never had any issues with late deliveries or missing items. I highly recommend Delight to anyone looking for a convenient and healthy food delivery option."</p>
                        </blockquote>
                        <figcaption class="flex items-center mt-6 space-x-3">
                            <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="profile picture">
                            <div class="flex items-center divide-x-2 divide-gray-300 dark:divide-gray-700">
                                <cite class="pr-3 font-medium text-gray-900 dark:text-white">Emma watson</cite>
                                <cite class="pl-3 text-sm font-light text-gray-700 dark:text-gray-700">Emma watson</cite>
                            </div>
                        </figcaption>
                    </figure>

                </a> 
                
            </div>
            <div id="services" class="mt-40 grid grid-cols-3 gap-4"> 
                <div class="mb-40">
                <h1 class="text-6xl">Services</h1>
                <h2 class="text-3xl">---Food and Drinks---</h2>
                </div> 
                
                <div class="max-w-sm p-6 bg-white border flex flex-col justify-center items-center border-white-200 rounded-lg shadow dark:bg-white-800 dark:border-white-700">
                   <div class=" w-20 h-20 rounded-full bg-orange-100 flex justify-center items-center">
                    <svg class=" w-10 h-10 mb-2 text-gray-500 dark:text-orange-600" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clip-rule="evenodd"></path><path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path>
                    </svg>
                   </div>
                   <h3 class="text-2xl mt-4 font-bold">Fast delivery</h3>
                    <p class="mb-3 mt-4 font-normal text-gray-600 dark:text-gray-700">Our top priority at Delight is providing exceptional service to our customers. We pride ourselves on our commitment to the fastest and most reliable delivery in the industry, ensuring that your healthy meals arrive on time and in perfect condition.</p>   
                </div>
                
                <div class="max-w-sm p-6 bg-white border flex flex-col justify-center items-center border-white-200 rounded-lg shadow dark:bg-white-800 dark:border-white-700">
                   <div class=" w-20 h-20 rounded-full bg-orange-100 flex justify-center items-center">
                    <svg class=" w-10 h-10 mb-2 text-gray-500 dark:text-orange-600" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clip-rule="evenodd"></path><path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path>
                    </svg>
                   </div>
                   <h3 class="text-2xl mt-4 font-bold">Real time tracker</h3>
                    <p class="mb-3 mt-4 font-normal text-gray-600 dark:text-gray-700">With our user-friendly web application, you can easily browse our menu, place your order, and track your delivery in real-time. Trust us to provide you with a seamless and hassle-free experience every time you order from Delight.</p>   
                </div>
                
                <div class="max-w-sm p-6 bg-white border flex flex-col justify-center items-center border-white-200 rounded-lg shadow dark:bg-white-800 dark:border-white-700">
                   <div class=" w-20 h-20 rounded-full bg-orange-100 flex justify-center items-center">
                    <svg class=" w-10 h-10 mb-2 text-gray-500 dark:text-orange-600" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clip-rule="evenodd"></path><path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path>
                    </svg>
                   </div>
                   <h3 class="text-2xl mt-4 font-bold">Hassle-free payments</h3>
                    <p class="mb-3 mt-4 font-normal text-gray-600 dark:text-gray-700">we offer hassle-free payments to ensure a seamless experience for our users. With our secure and convenient payment options, you can easily make purchases and manage your account with ease.</p>   
                </div>
                
                <div class="max-w-sm p-6 bg-white border flex flex-col justify-center items-center border-white-200 rounded-lg shadow dark:bg-white-800 dark:border-white-700">
                   <div class=" w-20 h-20 rounded-full bg-orange-100 flex justify-center items-center">
                    <svg class=" w-10 h-10 mb-2 text-gray-500 dark:text-orange-600" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clip-rule="evenodd"></path><path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path>
                    </svg>
                   </div>
                   <h3 class="text-2xl mt-4 font-bold">Browser menu</h3>
                    <p class="mb-3 mt-4 font-normal text-gray-600 dark:text-gray-700">Browse our healthy menu and enjoy a delicious, balanced meal without any of the hassle. With our user-friendly interface, placing an order has never been easier. </p>   
                </div>
                
            </div>
            <div>
            </div>
    </div>
</div>
 <div id="about" class="flex flex-col container justify-center items-center pb-40">
    <h1 class="text-6xl text-center">Our Beloved Chef</h1>
    <h2 class="text-4xl text-center">From our Chief</h2>
    <div class="flex justify-center items-center rounded">
        <img src="/img/chef.png" alt="" class="bg-opacity-25 rounded-br-full rounded-tr-full bg-green-100 w-1/4">
        <quote class="w-1/4 text-center text-4xl">Health food leads not only a healthier lifestyle but also enhances one's way of thinking
              <span class="text-xl bg-orange-200"> - by Joseph michigen</span>
        </quote>
        
        <img src="/img/foodgroupchef.png" alt="" class="w-1/3">
       
    </div>
 </div>
 <div id="plans" class="flex flex-col container justify-center items-center pb-40">
    <h1 class="text-6xl text-center">Delight Plans</h1>
    <h2 class="text-4xl text-center">monthly and quaterly</h2>
    <div class="flex justify-center items-center rounded">
        <!-- <img src="soupcup.png" alt="" class="w-1/3"> -->
        <div class="flex flex-row flex-wrap gap-5">
            <a href="#" class="transition ease-in-out delay-150 hover:-translate-y-3 hover:shadow-lg duration-300   flex-end block max-w-sm p-6 bg-white border rounded-lg shadow-green-200 shadow-xl">                   
                <figure class="max-w-screen">
                    <blockquote class="">
                        <h3 class="font-bold text-3xl capitalize">silver plan</h3>
                        <quote class="text-xl">----monthly----</quote>
                    </blockquote>
                    <figcaption class="flex flex-col items-center mt-6 space-x-3">
                    <ol class="flex flex-col gap-4 mb-10">
                        <li class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
                              </svg>
                              
                             <p> 2 meals a day</p>
                        </li>
                        <li class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                              </svg>
                              
                               30 days delivery
                        </li>
                        <li class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                              
                               feature of pre-cancellation
                        </li>
                    </ol>
                    <div class="flex md:order-2">
                        <button type="button" class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800 mr-10">Check out</button>
                      </div>
                    </figcaption>
                </figure>
            </a> 
            <a href="#" class="transition ease-in-out delay-150 hover:-translate-y-3  hover:shadow-lg duration-300   flex-end block max-w-sm p-6 bg-white border rounded-lg shadow-orange-200 shadow-xl">                   
                <figure class="max-w-screen">
                    <blockquote class="">
                        <h3 class="font-bold text-3xl capitalize">Gold plan</h3>
                        <quote class="text-xl">----quaterly----</quote>
                    </blockquote>
                    <figcaption class="flex flex-col items-center mt-6 space-x-3">
                    <ol class="flex flex-col gap-4 mb-10">
                        <li class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
                              </svg>
                             <p> 2 meals a day</p>
                        </li>
                        <li class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                              </svg>
                              
                               90 days delivery
                        </li>
                        <li class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                              
                               feature of pre-cancellation
                        </li>
                    </ol>
                    <div class="flex md:order-2">
                        <button type="button" class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800 mr-10">Check out</button>
                      </div>
                    </figcaption>
                </figure>
            </a> 
        </div>
        <img src="/img/bowlfood.png" alt="" class="w-1/4">
    </div>
 </div>
 <div id="menu" class="flex bg-orange-100 flex-col container justify-center items-center pt-20 pb-40">
    <h1 class="text-6xl text-center">Our Popular Menu</h1>
    <h2 class="text-4xl text-center">curated by Joseph</h2>
        
        <div class="grid grid-cols-3 mb-20 mt-20 gap-4">           
            <% pizzas.forEach(function(pizza) { %>
            <div class="transition ease-in-out delay-150 hover:-translate-y-1 hover:shadow-lg duration-300  w-full max-w-sm bg-white rounded-lg shadow-xl border relative">
                <a href="" class="flex justify-center items-center">
                    <img class=" w-3/5" src="/img/<%= pizza.image %>" alt="product image" />
                </a>
                <div class="px-5 pb-5">
                    <a href="#">
                        <h5 class="text-xl font-semibold tracking-tight text-gray-900"><%= pizza.name %></h5>
                    </a>
                    <div class="flex items-center justify-between">
                        <span class="text-3xl font-bold text-gray-900 ">₹<%= pizza.price %></span>
                        <!-- <button data-pizza="<%= JSON.stringify(pizza) %>" class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">Add to cart</button> -->
                        <button data-pizza="<%= JSON.stringify(pizza) %>"
                            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <% }) %>
         </div>
        </div>